# Sensitive face data
face_detection/known_faces/
face_detection/attendance.csv
face_detection/*.log

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Env
*.env
src/.env

# Python cache
__pycache__/
*.pyc

# Virtual env
venv/

# Node
node_modules
dist
dist-ssr
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw? 